        .hero {
                @media screen and (max-width: 767px) { 
                        margin-left: auto;
                        margin-right: auto; 
                    }
                @media screen and (min-width: 768px) and (max-width: 1199px){
                        margin-left: auto;
                        margin-right: auto; 
                    }
        }
        .hero__background {
            text-align: center;
            max-height: 100%;
            margin-left: auto;
            margin-right: auto;
            background-repeat: no-repeat;
            background-size: cover;
            @media screen and (min-width: 50px) {
                padding-top: 118px;
                padding-bottom: 200px;
                height: 400px;
            
                background-image: linear-gradient(0deg,
                rgba(47, 48, 58, 0.8),
                rgba(47, 48, 58, 0.8)),
                url('../images/hero-background-mobile.jpg');
                background-position: center;

                @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(
                    rgba(47, 48, 58, 0.8),
                    rgba(47, 48, 58, 0.8),
                  ),
                  url('../images/hero-background-mobile@2x.jpg');
                }
            }
            // 
            @media screen and (min-width: 768px) {
                padding-top: 118px;
                padding-bottom: 200px;
                height: 400px;
            
                background-image: linear-gradient(0deg,
                rgba(47, 48, 58, 0.8),
                rgba(47, 48, 58, 0.8)),
                url('../images/hero-background-tablet.jpg');
                background-position: center;

                @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(
                    rgba(47, 48, 58, 0.8),
                    rgba(47, 48, 58, 0.8),
                  ),
                  url('../images/hero-background-tablet@2x.jpg');
                }
            }
            // 
            @media screen and (min-width: 1200px) {
                padding-top: 200px;
                padding-bottom: 200px;
                height: 600px;
            
                background-image: linear-gradient(0deg,
                rgba(47, 48, 58, 0.8),
                rgba(47, 48, 58, 0.8)),
                url('../images/hero-background.jpg');
                background-position: center;

                @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(
                    rgba(47, 48, 58, 0.8),
                    rgba(47, 48, 58, 0.8),
                  ),
                  url('../images/hero-background@2x.jpg');
                }
            }
            .hero__title {
                @media screen and (max-width:350px) {
                        display: inline;
                }
                    @media screen and (max-width: 1199px){
                        max-width: 360px;
                        font-size: 26px;
                        font-weight: 900;
                        line-height: 1.6;
                        letter-spacing: 0.06em;
                    }
                    color: $background-color;
                    width: 696px;
                    margin-top: 0;
                    margin-bottom: 30px;
                    font-weight: 900;
                    font-size: 44px;
                    line-height: 1.4;
                    letter-spacing: 0.06em;
                    text-transform: uppercase;
                    margin-left: auto;
                    margin-right: auto;
                }
            .hero__button {
                color: $background-color;
                margin-left: auto;
                margin-right: auto;
                padding: 10px 32px;
                min-width: 136px;
                text-align: center;
                background-color: $accent-color;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border: 1px solid $accent-color;
                border-radius: 4px;
                font-weight: 700;
                font-size: 16px;
                line-height: 1.9;
                letter-spacing: 0.06em;
                &:hover,
                &:focus {
                        color: rgba(225, 225, 225, 0.7);
                    }
            }
        }